@import "/src/app/core/variables.scss";

.add-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;

  button {
    background-color: $bg-secondary !important;
    font-size: 14px;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 20px;
  }
}
