<section class="layout-button">
    <div class="button-row">
        <mat-icon class="icon" [ngClass]="{'active': layout === 'grid'}"
            (click)="setLayout('grid')">view_module</mat-icon>
        <mat-icon class="icon" [ngClass]="{'active': layout === 'card'}"
            (click)="setLayout('card')">border_all</mat-icon>
        <mat-icon class="icon" [ngClass]="{'active': layout === 'list'}" (click)="setLayout('list')">list</mat-icon>
    </div>
    <div class="filter">
        <button mat-button [matBadge]="counterFilter" [matBadgeHidden]="counterFilter === 0 ? true : false"
            matBadgeSize="small" (click)="openProductFilter()">
            Filtrar
        </button>
    </div>
    <div class="search">
        <mat-form-field  class="search small-input">
            <input matInput placeholder="Buscar produto"  [(ngModel)]="searchQuery" />
            <mat-icon matSuffix (click)="searchProduct()">search</mat-icon>
        </mat-form-field>
    </div>


</section>