@import "/src/app/core/variables.scss";
.finish{
    padding: 0% 10%;
    .congragulations{
        text-align: center;
    }
    .info{
        display: flex;
        flex-direction: row;
        gap: 24px;
        .dados, .compra{
            width: 50%;
        }

    }
}
h1{
    color: $primary;
    font-size: 48px;
}