<section class="product-list">
  <h2>Pastéis</h2>
  <div class="grid-list">
    <mat-card
      class="grid-item"
      *ngFor="let item of list"
      (click)="openProductDetails(item)"
    >
      <img
        mat-card-image
        src="https://soubh.uai.com.br/uploads/place/image/882/Paulo_Vilela.jpg"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <h3>{{ item.title }}</h3>
        <p>{{ item.price | currencyBrl }}</p>
        <button mat-flat-button color="primary">Comprar</button>
      </mat-card-content>
    </mat-card>
  </div>

  <div>
    <mat-list>
      <mat-list-item *ngFor="let item of list">
        <img
          matListItemIcon
          src="https://soubh.uai.com.br/uploads/place/image/882/Paulo_Vilela.jpg"
          style="width: 50px; height: 50px"
        />
        <div matListItemTitle>{{ item.title }}</div>
        <div matListItemLine>{{ item.price | currencyBrl }}</div>
        <button mat-flat-button color="primary" class="button-list">
          Comprar
        </button>
      </mat-list-item>
    </mat-list>
  </div>
</section>
