@import "/src/app/core/variables.scss";

.product-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px;

  .close {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.title {
  text-align: center;
}

.detail-content {
  display: flex;

  .add-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 20px;

    button {
      background-color: $bg-secondary !important;
    }
  }
}

.carousel-image {
  max-width: 500px;
  height: 400px;
}
