<div class="product-details-container">
  <button class="close" mat-icon-button color="warn" (click)="closeModal()">
    <mat-icon>close</mat-icon>
  </button>

  <h2 class="title">{{ product.title }}</h2>

  <div class="detail-content">
    <lib-ngx-image-zoom
      [thumbImage]="product.images[0]"
      [fullImage]="product.images[0]"
      [magnification]="1"
      [enableScrollZoom]="true"
      [enableLens]="true"
      [lensWidth]="200"
      [lensHeight]="200"
    ></lib-ngx-image-zoom>

    <div class="add-cart">
      <p>{{ product.price | currencyBrl }}</p>

      <app-add-cart [product]="product" />
    </div>
  </div>
</div>
