@import "/src/app/core/variables.scss";

.product-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px 0;
  padding: 20px;

  .close {
    position: absolute;
    right: 10px;
    top: 0;
  }
}

.title {
  text-align: center;
  font-size: 26px;
  margin-bottom: 20px;
}

.detail-content {
  display: flex;
  justify-content: center;
  width: 100%;

  .slide-images {
    display: flex;
    align-items: center;
  }

  .add-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: 20px;

    p {
      font-size: 24px;
      font-weight: 500;
    }

    button {
      background-color: $bg-secondary !important;
    }
  }
}

::ng-deep .ngxImageZoomContainer,
::ng-deep .ngxImageZoomThumbnail {
  width: 500px;
  height: 400px;
  border-radius: 6px;
}

@media screen and (max-width: 900px) {
  .detail-content {
    flex-direction: column;

    .slide-images {
      justify-content: center;
    }

    .add-cart {
      margin-right: auto;
      margin-top: 20px;
    }
  }
}

@media screen and (max-width: 480px) {
  .slide-images {
    flex-direction: column;

    .buttons-mobile {
      display: flex;
    }
  }
}
