<div class="product-details-container">
  <button class="close" mat-icon-button color="warn" (click)="closeModal()">
    <mat-icon>close</mat-icon>
  </button>

  <h2 class="title">{{ product.title }}</h2>

  <div class="detail-content">
    <img
      [src]="'assets/img/coxinha.jpg'"
      alt="Imagem do Produto"
      class="carousel-image"
    />

    <div class="add-cart">
      <p>{{ product.price | currencyBrl }}</p>

      <button mat-raised-button color="primary" (click)="addToCart()">
        Comprar
      </button>
    </div>
  </div>
</div>
