<section class="product-list">
    <h2>Pastéis</h2>
    <div class="list">
        <mat-card class="grid" *ngFor="let item of list">
            <img mat-card-image src="https://soubh.uai.com.br/uploads/place/image/882/Paulo_Vilela.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <h3>{{item.produto}}</h3>
                <p>{{item.valor}}</p>
                <button mat-flat-button color="primary">Comprar</button>
            </mat-card-content>
        </mat-card>

    </div>
    <div class="list" style="margin-top: 20px;">
        <mat-card class="card" *ngFor="let item of list">
            <mat-card-header>
                <mat-card-title-group>
                    <mat-card-title>
                        <h3>{{item.produto}}</h3>
                    </mat-card-title>
                    <mat-card-subtitle>
                        <p>{{item.valor}}</p>
                    </mat-card-subtitle>
                    <img mat-card-sm-image src="https://soubh.uai.com.br/uploads/place/image/882/Paulo_Vilela.jpg"
                    alt="Photo of a Shiba In">
                </mat-card-title-group>
            </mat-card-header>

            <mat-card-content style="margin-top: 10px;">
                <button mat-flat-button color="primary">Comprar</button>
            </mat-card-content>
        </mat-card>
    </div>
    <div>
        <mat-list>
            <mat-list-item *ngFor="let item of list">
                    <img matListItemIcon src="https://soubh.uai.com.br/uploads/place/image/882/Paulo_Vilela.jpg"
                        alt="Photo of a Shiba Inu" style="width: 50px; height: 50px;">
                    <div matListItemTitle>{{item.produto}}</div>
                    <div matListItemLine>{{item.valor}}</div>
                <button mat-flat-button color="primary" class="button-list">Comprar</button>
            </mat-list-item>
        </mat-list>
    </div>


</section>