@import "/src/app/core/variables.scss";
.grid {
  width: 200px;
}

.card {
  width: 300px;
}

.product-list {
  padding: 0px 10%;
}

.list {
  display: flex;
  flex-direction: row;
  gap: 15px;
  flex-wrap: wrap;
  // justify-content: center;
}

button {
  width: 100%;
  background-color: $bg-secondary !important;
}

.button-list {
  position: absolute;
  width: 50px;
  background-color: $bg-secondary !important;
  right: 0px;
  bottom: 20px;
}

mat-list-item {
  border-bottom: 1px solid $font-accent;
}
