@import "/src/app/core/variables.scss";

section{
  padding:0% 10%;
  padding-bottom: 5%;
  h1 {
    text-align: center;
    color: $primary;
  }

}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 24px;

 

  .select-option {
    width: 250px;
    margin-bottom: 20px;
  }

  .chart {
    width: 100%;
  }
  .mais-vendidos, .mais-avaliados{
    width: 100%;
  }
}
