<section>
  <h1>Estatísticas</h1>
  <div class="main">

    <!-- <mat-form-field class="select-option">
      <mat-label>Selecione o típo de estatística</mat-label>
      <mat-select disableRipple (valueChange)="changeOption($event)">
        <mat-option *ngFor="let option of options" [value]="option">{{
          option.label
        }}</mat-option>
      </mat-select>
    </mat-form-field> -->
    <div class="mais-vendidos">
      <h2>Mais Vendidos</h2>
      <mat-card>
      <mat-card-content>
        <app-charts
        [salesChart]="chart"
        class="chart"
      ></app-charts>
      </mat-card-content>
    </mat-card>

 
    </div>
    <div class="mais-avaliados">
      <h2>Mais Avaliados</h2>
      <mat-card>
        <mat-card-content>
          <app-charts
          [reviewsChart]="reviewsChart"
          idChart="review"
          class="chart"
        ></app-charts>
        </mat-card-content>
      </mat-card>
    </div>
  
  </div>
</section>

