<section>
  <h1>Estatísticas</h1>
  <mat-form-field class="select-option">
    <mat-label>Selecione o típo de estatística</mat-label>
    <mat-select
      disableRipple
      (valueChange)="changeOption($event)"
      [value]="selectedOption"
    >
      <mat-option *ngFor="let option of options" [value]="option">
        {{ option.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <app-charts
    [title]="selectedOption.label"
    [chart]="chart"
    class="chart"
  ></app-charts>
</section>
