<h2>Método de Pagamento</h2>
<form [formGroup]="paymentForm" class="payment-form" >
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Número do Cartão</mat-label>
    <input matInput id="cardNumber" formControlName="cardNumber" required>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Nome no Cartão</mat-label>
    <input matInput id="cardName" formControlName="cardName" required>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Data de Validade</mat-label>
    <input matInput id="expiry" formControlName="expiry" required>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>CVV</mat-label>
    <input matInput id="cvv" formControlName="cvv" required>
  </mat-form-field>

</form>