@import "/src/app/core/variables.scss";

.quantity {
  display: flex;
  gap: 8px;

  .quantity-number {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  }

  button {
    background-color: $bg-secondary !important;
  }
}
