@import "/src/app/core/variables.scss";

.checkout {
  display: flex;
  padding: 1% 10%;
  .carrinho,
  .steps {
    width: 50%;
    padding: 20px;
  }
}

.steps {
  border-left: 5px solid $red;
  border-radius: 1%;
}

button {
  margin-top: 20px;
  align-self: flex-start; /* ou align-self: center; para centralizar o botão */
  background-color: $yellow !important;
}
