<section class="filter-product">
  <button mat-button class="close" color="warn" (click)="closeModal()">
    <mat-icon>close</mat-icon>
  </button>
  <h2>Ordernar por:</h2>
  <section>
    <mat-radio-group [(ngModel)]="labelPosition" class="radio-list">
      <mat-radio-button value="best-sellers">Mais vendidos</mat-radio-button>
      <mat-radio-button value="lowest-price">Menor preço</mat-radio-button>
    </mat-radio-group>
  </section>

  <div class="btn-actions">
    <button mat-button class="button btn-clear" (click)="clear()">Limpar</button>
    <button mat-button class="button" (click)="submit()">Ordernar</button>
  </div>
</section>
