//cores de fundo
$bg-primary: #881e3b;
$bg-secondary: #f8a000;
$bg-neutral-light: white;
$bg-neutral-dark: black;

//cores de fonte
$font-accent: #f8a000;
$font-neutral-light: white;

//cores
$neutral-light: white;
$primary: #881e3b;
$secondary: #f8a000;
