@import "/src/app/core/variables.scss";

.product-note-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  .content {
    span {
      cursor: pointer;
    }

    .stars mat-icon {
      color: #ffcc00;
      margin-left: 10px;
    }
  }

  .bnt-actions {
    display: flex;
    gap: 8px;
    margin-top: 10px;

    .submit {
      background-color: $bg-secondary !important;
      color: #fff;
    }

    .cancel {
      background-color: #d3d3d3;
    }
  }
}
